/* base styles */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #FAFAFA;
  color:#111111;
}
/* Default values */
  /* font-size: 16px;
    font-weight: 400; p
    font-weight: 700; h1-h6
    font-style: normal;
    line-height: 1.15;
    text-indent: 0;
    text-align: left;
    text-transform: none;
    letter-spacing: normal;
    letter-shadow: none;*/

/* reset styles */
h1,
h2,
h3, 
p {
 margin: 0;
}
ol,
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}
.container { 
  width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
/* подсветка */
  outline: 2px solid red;
  outline-offset: -2px;
}

/* common styles */
.hero,
.benefits-captain,
.footer {
  color: #FFF;
}
.benefits,
.footer {
  background-color: #1E1823;
}
.accent {
  color: var(--orange, #FD9222);
}
.products-text,
.reviews-message {
  color: rgba(17, 17, 17, 0.70);
}
.sellers-captain,
.reviews-item {
  background-color: #FFF;
}
.header-link,
.hero-btn,
.hero-scroll,
.benefits-text,
.ingredients-text,
.made-text,
.products-btn,
.reviews-message,
.footer-social,
.footer-caption,
.footer-address-link,
.footer-menu-link {
  font-size: 14px;
}
.header-logo,
.benefits-captain,
.made-captain,
.products-captain,
.sellers-captain,
.reviews-user,
.reviews-btn {
  font-size: 18px;
}
.ingredients-subject,
.made-subject,
.products-subject,
.sellers-subject,
.reviews-subject {
  font-size: 24px;
  width: 412px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title,
.footer-slogan {
  font-size: 28px;
  line-height: 1.21;
}
.header-link,
.hero-title,
.hero-scroll,
.footer-slogan,
.footer-social,
.footer-caption,
.footer-menu-link {
  font-weight: 500;
}
.hero-btn,
.benefits-captain,
.ingredients-subject,
.made-subject,
.products-subject,
.sellers-subject,
.reviews-subject,
.ingredients-text,
.made-captain,
.products-captain,
.products-btn,
.sellers-captain,
.reviews-user,
.reviews-btn {
  font-weight: 600;
}
.hero-btn,
.products-btn,
.reviews-btn {
  line-height: normal;
}
.header-link,
.footer-menu-link {
  line-height: 1.14;
}
.ingredients-subject,
.made-subject,
.products-subject,
.sellers-subject,
.reviews-subject,
.products-text {
  line-height: 1.17;
}
.hero-scroll,
.benefits-text,
.ingredients-text,
.made-text,
.reviews-message,
.footer-social,
.footer-caption,
.footer-address-link {
  line-height: 1.29;
}
.made-captain,
.products-captain,
.sellers-captain,
.reviews-user {
  line-height: 1.33;
}
.header-link,
.benefits-text,
.ingredients-text,
.made-text,
.products-captain,
.products-text,
.sellers-captain,
.reviews-message,
.footer-slogan,
.footer-address-link {
  letter-spacing: -0.02em;
}
.header-logo,
.hero-title,
.hero-scroll,
.ingredients-subject,
.made-subject,
.products-subject,
.sellers-subject,
.reviews-subject {
  letter-spacing: -0.03em;
}
.ingredients-subject,
.made-subject,
.products-subject,
.sellers-subject,
.reviews-subject,
.reviews-user,
.reviews-message,
.footer-address-link {
  text-align: center;
}
.ingredients-subject,
.ingredients-text
.made-subject,
.products-subject,
.sellers-subject,
.reviews-subject,
.products-captain,
.sellers-captain {
  text-transform: uppercase;
}
.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}

/* header */
.header {
}
.header-nav {
}
.header-logo {
  font-weight: 700;
  line-height: 1.11;
}
.header-logo-accent {
  font-style: italic;
}
.header-logo-img {
}
.header-list {
 
}
.header-item {
}
.header-link {
}
.header-socials {
}


/* hero section */
.hero>.container {
  background-color: rgba(17, 17, 17, 0.70);
}
.hero-title {
}
.hero-list {
}
.hero-item {
}
.hero-btn {
}
.hero-btn.primary {
  background-color: var(--orange, #FD9222);
}
.hero-btn.primary:focus,
.hero-btn.primary:hover {
  background-color: #FCF1E0;
  color: #FD9222;
}

.hero-btn.secondary {
}
.hero-btn.secondary:focus,
.hero-btn.secondary:hover,
.hero-scroll:focus,
.hero-scroll:hover{
  color: #FD9222;
 }

.hero-scroll {
}

/* benefits */
.benefits {

}
.benefits-subject {
}
.benefits-list {
}
.benefits-item {
}
.benefits-captain {
  line-height: 1.22;
}
.benefits-text {
  color: rgba(255, 255, 255, 0.70);
}

/* ingredients section */
.ingredients {
}
.ingredients-subject {
}

.ingredients-list {
}
.ingredients-item {
}
.ingredients-img {
}
.ingredients-text {
}

/* made section */
.made {
}
.made-subject {
}
.made-img {
}
.made-captain {
}
.made-list {
}
.made-item {
}
.made-text {
}

/* products section */
.products {
}
.products-subject {
}
.products-list {
 
}
.products-item {
}
.products-img {
}
.products-captain {
}
.products-text {
  font-size: 12px;
}
.products-btn {
  background-color: #FAFAFA;
}

/* top sellers section */
.sellers {
}
.sellers-subject {

}
.sellers-list {
}
.sellers-item {
}
.sellers-img {
}
.sellers-captain {
  
}

/* reviews section */
.reviews {
}
.reviews-subject {
  
}
.reviews-list {
}
.reviews-item {
}
.reviews-avatar {
}
.reviews-user {
}
.reviews-message {
}
.reviews-btn {
}
.reviews-btn:focus,
.reviews-btn:hover {
  background-color: #FD9222;
  color: #FFF;
}

/* footer */
.footer {
}
.footer-slogan {
}
.footer-social {
}
.footer-social.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}
.footer-address {
  font-style: normal;
}
.footer-caption {
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  font-weight: 400;
}
.footer-menu {
}
.footer-menu-item {
}
.footer-menu-link { 
}